<h4>Create New Interview</h4>
<br />
<form name="interview_form" id="interview_form" method="post" action="/interview/create">
  <h4>Interview Title</h4>
  <input type="text" id="interview_title" name="interview[title]" placeholder="Interview title..."/>
  <h4>Start date</h4>
  <input type="text" id="interview_start_date" name="interview[start_date]" placeholder="Start date..."/> <span style="font-style: italic">(optional)</span>
  <h4>Due date</h4>
  <input type="text" id="interview_due_date" name="interview[due_date]" placeholder="Due date..."/> <span style="font-style: italic">(optional)</span>
  
  <hr />
  <h4>Question List</h4>
  <div id="list_question">
     <%= render :partial => "question" %>
  </div>
  <a href="#" id="add_question">Add question</a><br /><br />
  <input type="submit" value="submit" class="btn btn-primary" id="submit_new_interview"/>  
  <a href="/" class="btn" id="cancel_new_interview">Cancel</a>  
</form>
<script>
  jQuery(function() {
    $(".number_question").each(function(i){
      $(this).text(i+1);
    });
    $("#interview_start_date").datepicker();
    $("#interview_due_date").datepicker();

    $("#interview_start_date").datepicker("option", "dateFormat", "yy-mm-dd");
    $("#interview_due_date").datepicker("option", "dateFormat", "yy-mm-dd"); 
  })
</script>
